/* utility class  */
/* riscrittura padding row */
.pad-24 {
    padding-left: 24px;
    padding-right: 24px;
}




/* end utiliti class  */

.main-background {
    background-color: #fff5e2;
    color: #333;
}


/* leyout header  */

header {
    background-color: #fdbb40 ;
    height: 100px;
    position: relative;
    overflow-x: hidden;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
}

header img {
    position: absolute;
    top: -30px;
    right: -50px;
    width: 120px;
}
@media screen and (min-width: 768px) {
    header {
        overflow-x: visible;
    }

    header img {
        width: 140px;
    }
}

@media screen and (min-width: 900px) { 
    header img {
        width: 160px;
    }
}





/* leyout main  */
main {
    background-color: #ffffff;
    height: calc(100vh - 180px);
}


main > div > input {
    font-size: 30px;
    border: 1px solid transparent;

}

main > div > input::placeholder {
    opacity: 1;
    color: #333;
}

main img {
   height: 40px;
   margin-right: 8px;
}

form > div {
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (min-width: 850px) {
    form > div {
        padding-top: 16px;
        padding-bottom: 16px;
    
    }


}

form div label:last-of-type {
    color: red;
}

form [type="text"] {
    width: 100%;
    background-color: #fff5e2 ;
    border-radius: 8px;
    border: 1px solid transparent;
}

#button {
    display: inline-block;
    background-color: #fdbb40;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}


/* leyout footer  */
footer {
    background-color: #d33359;
    height: 80px;
    color: white;
}

#price-humburger {
    font-weight: bold;
    font-size: calc(1.325rem + .9vw);
    
}